{% extends '_base.html' %}
{% load static %}
{% block title %}Książki Google{% endblock title %}
{% block content %}

<main role="main">
  <section class="jumbotron bg-dark text-white">
    <div class="container-md">
      <h2 class="jumbotron-heading text-center">Wyszukiwarka Książek</h2>
      <p class="lead text-muted text-center">Znajdź książkę z google books</p>
        <form method="POST">
          <div class="row">
            <div class="col">
                {% csrf_token %}
                <input type="text" name="search" required="required" placeholder="Tytuł ksiązki" class="form-control" aria-label="Username">
                <label class="form-label" >Tytuł książki</label>
            </div>
            <div class="col">
                <input type="number" name="number"min="1" max="40" value="3" class="form-control" aria-label="Username">
                <label class="form-label">Liczba książek</label>
            </div>
            <div>
                <select class="btn btn-secondary dropdown-toggle" name="author">
                  <option value="free-ebooks">Tylko darmowe</option>
                  <option value="paid-ebooks">Tylko płatne</option>
                  <option value="ebooks">ebooks</option>
                </select>
            </div>
            <div>
                <select style="margin-left: 20px;" class="btn btn-secondary dropdown-toggle" name="lang">
                  <option value="pl">Język polski</option>
                  <option value="en">Język angielski</option>
                </select>
            </div>
             <div>
                <select style="margin-left: 20px;" class="btn btn-secondary dropdown-toggle" name="order">
                  <option value="relevance">Najpopularniejsze</option>
                  <option value="newest">Najnowsze</option>
                </select>
            </div>
            <div class="col-sm">
              <button type="submit" name="submit" value="search" class="btn btn-primary">Szukaj</button>
            </div>
          </div>
        </form>
      {% if messages %}
        <div class="alert alert-danger " role="alert" class="messages">
          {% for message in messages %}
            <h3 class="{{ message.tags }}">{{ message }}</h3>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </section>
      {% for book in books %}
        <ul>
          <li class="media bg-dark text-white">
            <img class="mr-3" src="{{ book.Okładka }}/64x64" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0">{{ book.Tytuł }}</h5>
              <p class="mt-0">Autorzy: {{ book.Autorzy }}</p>
              <p class="mt-0">Język: {{ book.Język }}</p>
              <p class="mt-0">Rok publikacji: {{ book.Data_publikacji }}</p>
              <a type="button" href="{{ book.Link }}" class="btn btn-sm btn-outline-warning" target="_blank">Zobacz Książkę</a>
            </div>
          </li>
        </ul>
      {% endfor %}
    </div>
</main>

{% endblock content %}